<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}野球部タレントマネジメントシステム{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>野球部タレントマネジメントシステム</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.dashboard') }}">ダッシュボード</a></li>
                {% if 'manager' in current_user.roles %}
                <li><a href="{{ url_for('measurements.records_input') }}">測定記録入力</a></li>
                {% endif %}
                {% if 'member' in current_user.roles %}
                <li><a href="{{ url_for('main.my_records') }}">記録閲覧</a></li>
                {% endif %}
                {% if 'coach' in current_user.roles or 'director' in current_user.roles%}
                <li><a href="{{ url_for('members.members') }}">部員一覧</a></li>
                {% endif %}
                <li><a href="{{ url_for('main.profile') }}">プロフィール</a></li>
                <li><a href="{{ url_for('auth.logout') }}">ログアウト</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 JPT高校野球部</p>
    </footer>
</body>
</html>