<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}野球部タレントマネジメントシステム{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {# ページの上部など、目立つ場所に配置 #}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <header>
        <h1>野球部タレントマネジメントシステム</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.dashboard') }}">ダッシュボード</a></li>
                {% if current_user.has_any_role('manager', "administer") %}
                <li><a href="{{ url_for('measurements.records_input') }}">測定記録入力</a></li>
                {% endif %}
                {% if 'member' in current_user.roles %}
                <li><a href="{{ url_for('records.my_records') }}">記録閲覧</a></li>
                {% endif %}
                {% if current_user.has_any_role('coach', 'director', "administer") %}
                <li><a href="{{ url_for('members.members') }}">部員一覧</a></li>
                {% endif %}
                <li><a href="{{ url_for('profile.profile') }}">プロフィール</a></li>
                {% if current_user.has_any_role('member', 'manager', 'coach', "administer") %}
                <li><a href="{{ url_for('notice.notice') }}">
                通知 {{ notice_cnt }}
                </a>
                </li>
                {% endif %}
                <li><a href="{{ url_for('main.help') }}">ヘルプ</a></li>
                <li><a href="{{ url_for('auth.logout') }}">ログアウト</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 JPT高校野球部</p>
    </footer>
</body>
</html>