{% extends "base.html" %}

{% block title %}通知{% endblock %}

{% block content %}
<h2>{{ user.name }} さんの承認待ち測定記録</h2>

<form method="POST" action="{{ url_for('notice.approve_records') }}">
    <table class="member-table">
        <thead>
            <tr>
                <th>選択</th>
                <th>測定日</th>
                <th>学年</th>
                <th>氏名</th>
                {% for type in measurement_types %}
                <th>{{ type.display_name }} ({{ type.unit }})</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            {% set record_values = {} %}
            {% for val in record.values %}
            {% set _ = record_values.update({val.type_id: val.value}) %}
            {% endfor %}
            <tr>
                <td rowspan="2"><input type="checkbox" name="record_ids" value="{{ record.id }}"></td>
                <td>{{ record.measurement_date }}</td>
                <td>{{ record.user.grade }}</td>
                <td>{{ record.user.name }}</td>
                {% for type in measurement_types %}
                <td>
                    {% if type.id in record_values %}
                        {{ record_values[type.id] }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            <tr>
                <td>コメント</td>
                <td colspan="{{ 3 + measurement_types|length }}">{{ record.comment if record.comment else '&nbsp;' | safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  <button type="submit" name="action" value="approve">承認する</button><br>
  {% if current_user.has_any_role('member', 'coach') %}
    <textarea name="comment" placeholder="コメントを入力してください"></textarea><br>
    <button type="submit" name="action" value="reject">否認する</button>
  {% endif %}

</form>
{% endblock %}